@import 'utils';

.hover-card {
  transition: .3s ease-in;
  &:hover {
    @include material-shadow(4, 0.8);
  }
  &.Big {
    height: 384px;
    background-size: cover;
  }

 
  &.Mini{
    height: 180px;
    margin: 0px 0px 24px 24px;
    background-size: cover;
  }
 
}